---
import SettingsDropdown from './SettingsDropdown.vue'
---

<color-picker-menu class="menu-bar">
	<div class="menu-items background background-small">
		<SettingsDropdown client:only="vue" :className="background" />
	</div>
</color-picker-menu>
<script>
	import { $theme } from '@/store/settings'
	class ColorPickerMenu extends HTMLElement {
		constructor() {
			super()
			const theme = `theme-${$theme.get()}`

			this.classList.add(theme)
		}
	}
	customElements.define('color-picker-menu', ColorPickerMenu)
</script>
<style lang="scss">
	@import '../../styles/variables.scss';

	.menu-bar {
		@apply absolute -top-7 right-0 z-10 flex w-full items-center justify-end;

		.menu-items {
			@apply relative flex items-center;
		}
	}
</style>
