@import './variables.scss';

button {
	background: $btnPrimaryBgLight;
	@apply m-0 flex items-center justify-center  p-0 text-indigo-700 shadow-md transition-all duration-300 ease-in-out;
	&:hover {
		background: $btnPrimaryHoverLight;
		@apply text-indigo-600;
	}
}

button:disabled {
	@apply pointer-events-none bg-neutral-400 text-neutral-700 opacity-30;
}

.button-icon {
	@apply h-5 w-5 bg-transparent text-indigo-700 shadow-none transition-colors;

	&:hover {
		@apply bg-transparent text-indigo-400;
	}
}

.button-input-copy {
	z-index: 1;
	@apply absolute inset-y-0 right-2 top-7;
}

.button-menu-bar {
	@apply h-5 w-5 bg-transparent text-indigo-700 shadow-none transition-all duration-300;

	&:hover {
		@apply bg-transparent text-indigo-400;
	}

	.icon {
		@apply pointer-events-none;
	}
}

.theme-dark {
	button {
		@apply bg-indigo-600 text-indigo-100;

		&:hover {
			@apply bg-indigo-700 text-indigo-200;
		}
	}

	.button-icon {
		@apply bg-transparent text-indigo-400;

		&:hover {
			@apply bg-transparent text-indigo-300;
		}
	}

	.button-menu-bar {
		@apply bg-transparent text-indigo-400;

		&:hover {
			@apply bg-transparent text-indigo-300;
		}
	}
}

.button-add-active-color {
	@apply flex h-7 w-20 flex-grow items-center justify-center gap-2 whitespace-nowrap rounded-md  px-4 transition-all duration-500 ease-in-out;

	&.icon {
		@apply ml-1.5 h-3  w-3 p-0 transition-all duration-500;
	}

	&.button-hidden {
		@apply flex-shrink-0 scale-0 opacity-0;
	}
	&:hover {
		@apply shadow-lg;
	}
}

.button-palette-action {
	@apply w-max rounded  px-2 py-[1px] text-sm;

	&.clear-palette {
		color: $error;
		@apply relative bg-neutral-100;

		&:before {
			content: '';
			border: 1px solid transparent;
			background: rgba($error, 0.2);
			@apply absolute inset-0 h-full w-full rounded transition-all
				duration-300;
		}

		&:hover {
			&:before {
				border: 1px solid rgba($error, 0.7);
				opacity: 0.7;
			}

			@apply transition-all;
		}
	}
}
