@import './variables.scss';
input[type='text'] {
	outline: 1px solid #cccccc;
}

.color-input {
	z-index: auto;
	@apply relative z-0 h-14 transition-all ease-linear;

	& label {
		caret-color: transparent;
		z-index: -1;
		@apply text-xs transition-opacity delay-75 ease-in-out;
	}

	& input {
		border-radius: 6px;
		font-size: 0.95rem;
		@apply z-10 h-7 w-full origin-top px-1.5 transition-all ease-in-out;
	}

	&.hidden-text-input {
		z-index: -1;
		@apply -mt-14;

		label {
			@apply opacity-0 delay-0;
		}

		input {
			@apply origin-top scale-y-0 opacity-0 transition-all;
		}
	}
}

.checkbox {
	box-shadow: 1px 1px 4px rgba(#464646, 0.4);
	@apply relative mt-0.5 flex aspect-square h-max w-max items-center justify-center rounded border border-indigo-600 bg-neutral-50 transition-all;

	label {
		z-index: -1;
		@apply flex aspect-square  w-3 items-center justify-center rounded-sm hover:cursor-pointer;
	}

	.icon {
		@apply pointer-events-none absolute  aspect-square w-5 p-0 transition-colors;

		& svg {
			@apply m-auto;
		}
	}
	input[type='checkbox'] {
		display: none;
	}

	&.checkbox-palette {
		@apply relative flex aspect-square w-full items-center justify-center border-none bg-transparent transition-all;

		label {
			@apply flex aspect-square min-w-full items-center justify-center rounded-md border-2 border-neutral-100 hover:cursor-pointer;
		}

		.icon {
			@apply pointer-events-none absolute inset-0  m-auto h-auto w-9/12 transition-colors;
		}
	}
}

.theme-dark {
	input[type='text'] {
		outline: 1px solid #161616;
		background: $bgDark;
	}

	.checkbox-palette {
		@apply relative flex aspect-square w-full items-center justify-center border-none bg-transparent transition-all;

		label {
			@apply flex aspect-square min-w-full items-center justify-center rounded-md border-2 border-neutral-400 hover:cursor-pointer;
		}
	}
}
