---
import Button from './global/Button.astro'
import { Icon } from 'astro-icon/components'
---

<active-color class="active-color-wrapper">
	<div class="active-color-preview">
		<input id="active-color-input" class="active-color-input" />
	</div><Button
		disabled
		ariaLabel="add the color to the color palette"
		classList="button-add-active-color ">Add Color<Icon name="add" class="icon" /></Button
	>
</active-color>
<script>
	class ActiveColorGroup extends HTMLElement {
		constructor() {
			super()

			const input = this.querySelector('#active-color-input')

			const handleInputUpdate = (e) => {
				console.log('Input value YAY:', e.target.value)
				// Handle your input value change logic here
			}

			input.addEventListener('input', handleInputUpdate)

			// Add a named function for the logic you want to execute
			this.handleInputChange = handleInputUpdate
		}
	}
	customElements.define('active-color', ActiveColorGroup)
</script>

<style lang="scss">
	.active-color-wrapper {
		@apply relative flex h-11 items-center gap-4 border-t  border-neutral-300 pt-3;
	}

	.active-color-input {
		// @apply hidden;
	}

	.active-color-none {
		@apply absolute bottom-0 right-0 min-w-full;
	}

	.active-color-preview {
		@apply h-7 w-full flex-shrink rounded-md  shadow-sm transition-all;
	}

	// .icon {
	// 	@apply ml-1.5 h-3 w-3 p-0;
	// }
</style>
