---
import MenuBar from './MenuBar.astro'
import ColorSlider from './ColorSlider.astro'
import ActiveColor from './ActiveColor.vue'
import Button from './global/Button.astro'
import Tooltip from './global/Tooltip.astro'
import Input from './global/Input.astro'
import ColorPalette from './ColorPalette.vue'

import { Icon } from 'astro-icon/components'
---

<color-picker id="shook-color-picker" class="shook-color-picker opacity-0 background">
	<MenuBar />
	<div class="color-picker-content">
		<div class="canvas-slider-group">
			<div class="canvas-wrapper">
				<div class="color-marker" aria-label="selected color marker"></div>

				<Tooltip />

				<canvas id="shook-color-picker-canvas"></canvas>
			</div>
			<ColorSlider className="border-b border-neutral-200" />
		</div>

		<div class="selected-colors-group">
			<ActiveColor client:only="vue" />

			<div class="color-inputs">
				<Input type="color" ariaLabel="selected hex code value" title="Hex" id="input-hex"
					><Button
						slot="inner-button"
						ariaLabel="copy the selected hex value"
						className="button-icon button-input-copy"><Icon name="copy" /></Button
					></Input
				>
				<Input type="color" ariaLabel="selected RGB code value" title="RGB" id="input-rgb"
					><Button
						slot="inner-button"
						ariaLabel="copy the selected RGB value"
						className="button-icon button-input-copy"><Icon name="copy" /></Button
					></Input
				>
				<Input type="color" ariaLabel="selected HSL code value" title="HSL" id="input-hsl"
					><Button
						slot="inner-button"
						ariaLabel="copy the selected HSL value"
						className="button-icon button-input-copy"><Icon name="copy" /></Button
					></Input
				>
				<Input type="color" ariaLabel="selected CMYK code value" title="CMYK" id="input-cmyk"
					><Button
						slot="inner-button"
						ariaLabel="copy the selected CMYK value"
						className="button-icon button-input-copy"><Icon name="copy" /></Button
					></Input
				>
			</div>
			<ColorPalette />
		</div>
	</div>
</color-picker>

<script>
	import { $currentColor, setCurrentColor } from '../store/colors'
	import {
		setCanvas,
		getColorAtPosition,
		getCursorPoint,
		updateInputValues
	} from '@/utils/colorPicker'

	class ShookColorPicker extends HTMLElement {
		constructor() {
			super()

			const wrapper: HTMLDivElement = this.querySelector('.canvas-wrapper')!

			const slider: HTMLInputElement = this.querySelector('.color-slider')!
			const tooltip: HTMLDivElement = this.querySelector('.tooltip-color')!
			const tooltipText: HTMLSpanElement = tooltip.querySelector('.tooltip-color-text')!

			const colorInputs = this.querySelectorAll('.color-input')

			const { canvas, ctx, marker } = setCanvas({ wrapper, hue: slider.value })

			canvas.addEventListener('load', this.classList.remove('opacity-0'))

			const handleCanvasClick = (e: MouseEvent) => {
				const hex = tooltipText.innerText

				const x = e.clientX
				const y = e.clientY

				const { left, top } = getCursorPoint(wrapper, x, y)

				if (!top || !left) return

				marker.style.display = 'block'

				marker.style.left = `${left - 4}px`
				marker.style.top = `${top - 4}px`

				const color = updateInputValues(colorInputs, { hex })

				setCurrentColor(color)
			}

			canvas.addEventListener('click', (e) => {
				handleCanvasClick(e)
			})
		}
	}

	customElements.define('color-picker', ShookColorPicker)
</script>

<style lang="scss">
	@import '../styles/index.scss';
	.shook-color-picker {
		display: flex;
		flex-direction: column;
		max-width: 280px;
		width: max-content;
		transition: all 0.2s ease-in;
		z-index: 1;
		@apply relative mx-auto rounded-md;

		.color-picker-content {
			z-index: 1;
		}

		.canvas-slider-group {
			@apply flex flex-col gap-3;
		}

		.canvas-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
			max-height: 200px;

			outline: 1px solid #e6e6e6;
			border-radius: 0.2rem;
		}

		.color-marker {
			position: absolute;
			// z-index: 2;
			display: none;
			width: 8px;
			height: 8px;
			top: 0;
			left: 0;
			caret-color: transparent;
			border-radius: 100%;
			background: #000000;
		}

		.selected-colors-group {
			@apply flex flex-col gap-2;
		}

		.color-inputs {
			gap: 1.75rem;
			@apply flex flex-col gap-4;
		}

		span {
			@apply text-neutral-700;
		}
	}
</style>
