---
import MenuBar from './menu/MenuBar.vue'
import ColorCanvas from './canvas/ColorCanvas.vue'
import ColorSlider from './ColorSlider.vue'
import ActiveColor from './ActiveColor.vue'
import Tooltip from '@global/Tooltip.astro'
import ColorInputGroup from './ColorInputGroup.vue'
import ColorPalette from '@palette/ColorPalette.vue'
---

<color-picker id="shook-color-picker" class="shook-color-picker opacity-0 background">
	<MenuBar client:only="vue" />
	<div class="color-picker-content">
		<div class="canvas-with-slider">
			<ColorCanvas client:only="vue" />

			<ColorSlider client:only="vue" />
		</div>

		<div class="selected-colors-group">
			<ActiveColor client:only="vue" />
			<ColorInputGroup client:only="vue" />
		</div>
	</div>
	<ColorPalette client:only="vue" />
</color-picker>

<script>
	import { $theme } from '@/store/settings'

	class ShookColorPicker extends HTMLElement {
		constructor() {
			super()

			const theme = `theme-${$theme.get()}`

			this.classList.add(theme)

			const initialize = (): void => {
				this.classList.remove('opacity-0')
			}

			window.addEventListener('load', initialize)
		}
	}

	customElements.define('color-picker', ShookColorPicker)
</script>

<style lang="scss">
	@import '../styles/global.scss';
	@import '../styles/variables.scss';
	.shook-color-picker {
		display: flex;
		flex-direction: column;
		max-width: 220px;
		width: max-content;
		transition: all 0.2s ease-in;
		z-index: 1;
		@apply relative mx-auto rounded-md;

		.color-picker-content {
			z-index: 1;
		}

		.canvas-with-slider {
			@apply flex flex-col gap-3;
		}

		.selected-colors-group {
			@apply flex flex-col gap-2;
		}

		span {
			@apply text-neutral-700;
		}
	}
</style>
