---
import SettingsDropdown from './menu/SettingsDropdown.vue'
---

<div class="menu-bar">
	<div class="menu-items background background-small">
		<SettingsDropdown client:only="vue" />
	</div>
</div>

<style lang="scss">
	@import '../styles/variables.scss';

	.menu-bar {
		@apply absolute -top-7 right-0 z-10 flex w-full items-center justify-end;

		.menu-items {
			@apply relative flex items-center;
		}
	}
</style>
