---
import { Icon } from 'astro-icon/components'
import SettingsDropdown from './menu/SettingsDropdown.astro'
import Button from '@global/Button.vue'
---

<div class="menu-bar">
	<div class="menu-items background background-small">
		<SettingsDropdown />
	</div>
</div>

<style lang="scss">
	@import '../styles/variables.scss';

	.menu-bar {
		@apply absolute -top-7 right-0 flex w-full items-center justify-end;

		.menu-items {
			@apply relative flex items-center;
		}
	}
</style>
