---
const { classList, ariaLabel, disabled } = Astro.props
---

<button disabled={disabled ? true : false} aria-label={ariaLabel} class={classList}
	><slot />
</button>
<style lang="scss">
	button:disabled {
		@apply pointer-events-none bg-neutral-400 text-neutral-700 opacity-30;
	}

	.button-icon {
		@apply h-5 w-5 text-indigo-700 transition-all duration-300;

		&:hover {
			@apply text-indigo-400;
		}
	}

	.button-input-copy {
		z-index: 1;
		@apply absolute inset-y-0 right-2 top-1/2;
	}

	.button-add-active-color {
		@apply flex h-7 w-max flex-grow items-center justify-center whitespace-nowrap rounded-md bg-indigo-100 px-4  text-indigo-700 shadow-md transition-all duration-500 ease-in-out;

		& :global(.icon) {
			@apply ml-1.5 h-3.5  w-3.5 p-0 transition-all duration-500 ease-in-out;
		}
		&:hover {
			@apply bg-indigo-200 text-indigo-600 shadow-lg;

			& :global(.icon) {
				@apply scale-110;
			}
		}
	}
</style>
