---

---

<color-tooltip class="tooltip-color">
	<span class="tooltip-color-preview"></span><span class="tooltip-color-text"></span>
</color-tooltip>

<script>
	import { getCursorPoint, getColorAtPosition } from '../../utils/colorPicker'

	class ShookColorTooltip extends HTMLElement {
		constructor() {
			super()

			const wrapper: HTMLDivElement = document.querySelector('.canvas-wrapper')!
			const canvas: HTMLCanvasElement = wrapper.querySelector('#shook-color-picker-canvas')!

			const ctx = canvas.getContext('2d')!

			const tooltip: HTMLElement = this

			const tooltipText: HTMLSpanElement = tooltip.querySelector('.tooltip-color-text')!

			const tooltipColor: HTMLSpanElement = tooltip.querySelector('.tooltip-color-preview')!

			const updateTooltipPosition = (e: MouseEvent) => {
				if (!e || !tooltip) return
				const x = e.clientX
				const y = e.clientY

				const { top, left } = getCursorPoint(wrapper, x, y)

				if (!top || !left) {
					return (tooltip.style.opacity = '0')
				}
				const { hex } = getColorAtPosition(ctx, left, top) as ColorObject

				tooltip.style.opacity = '1'
				tooltip.style.left = `${left + 10}px`
				tooltip.style.top = `${top}px`

				tooltipText.innerText = hex

				tooltipColor.style.background = hex
			}

			const handleTooltipVisibility = (e: MouseEvent) => {
				if (e.type === 'mouseenter') {
					tooltip.style.opacity = '1'
				} else if (e.type === 'mouseleave') {
					tooltip.style.opacity = '0'
				}
			}

			canvas.addEventListener('mouseenter', (e) => handleTooltipVisibility(e))

			canvas.addEventListener('mousemove', (e) => updateTooltipPosition(e))

			canvas.addEventListener('mouseleave', (e) => handleTooltipVisibility(e))
		}
	}

	customElements.define('color-tooltip', ShookColorTooltip)
</script>

<style lang="scss">
	.tooltip-color {
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		opacity: 0;
		margin: 0;
		background-color: #333;
		padding: 0.25rem 0.5rem;
		border-radius: 5px;
		width: max-content;
		align-items: center;
		gap: 0.5rem;
		transition: opacity 0.2s ease-in-out;
		z-index: 3;
		user-selidect: none;

		& .tooltip-color-text {
			user-select: none;
			@apply text-neutral-100;
		}

		& .tooltip-color-preview {
			width: 1rem;
			height: 1rem;
			border-radius: 4px;
			border: 1px solid #c7c7c7;
		}
	}
</style>
